################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DaheimBleiben/DaheimBleiben/bin
/DaheimBleiben/.vs/DaheimBleiben
/.vs
/DaheimBleiben/DaheimBleiben/obj
