@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <img src="images/logo.png" />
        <a href="https://github.com/stephanhuewe/daheimbleiben" target="_blank">GitHub</a>
        <a href="https://www.huestel-gmbh.de/impressum/" target="_blank">Impressum</a>
        <a href="https://www.huestel-gmbh.de/datenschutzerklaerung/" target="_blank">Datenschutz</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
